.footer_recipes {
    height: auto;
    border: 2px solid black;
    padding: 20px;
}

.footer_title {
    font-size: 2em;
}

.footer_content {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.footer_social {
    font-size: 1.5em;
}